#home {
    height: 100vh;
    background-image: url('images/painting-edited-smaller.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;    
}
#whiteSpace {
    height: 250px;
    background-color: rgb(255,255,255,0);
}
#gallery {
    /* height: 100vh; */
    background-color: white;
    
}
body {
    background-image: url('images/mom.JPG');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#about {
    height: 100vh;
    background-color: white;   
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 500px;
}
#joanPic {
    margin: auto;
    width: 80%;
}
.aboutParagraph {
    padding: 100px;
}
#aboutHeading {
    color: purple;
}
.tag {
    color: white;
    text-align: center;
    position: relative;
    top: 10%;
    font-size: 4em;
}
.paintings {
    width: 80%;
    margin: auto;    
}
.paintings:hover {
    opacity: .5;
}
.card {
    border: none;
    height: 20%;
    margin-bottom: 100px;
}
.container {
    padding: 30px 0 0 30px;
    max-width: 1800px;
}
.mb-0 {
   text-align: center; 
}
.card-header {
    width: 80%;
    margin: auto;
    background-color: lightpink;
    
}
.card-body {
    width: 80%;
    margin: auto;
}
.dropdown {
    color: white;
    font-size: 1em;
}
.dropdown:hover {
    letter-spacing: 10px;
    text-decoration: none;
    color: maroon;
}
.galleryTag {
    text-align: center;
    color: purple;
    margin-bottom: 100px;
}
#homeForm {
    width: 100%;
    /* margin: auto;     */
    height: 100%;
    background-color: rgb(0,0,0,.5);
}